
<h1>Flickity - groupCells</h1>

<!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "cellAlign": "center","accessibility": true,"wrapAround": true,"initialIndex": 1,"freeScroll": false, "prevNextButtons": true, "pageDots": false }'>    <div class="carousel-cell">1</div>
    <div class="carousel-cell">2</div>
    <div class="carousel-cell">3</div>
    <div class="carousel-cell">4</div>
    <div class="carousel-cell">5</div>
    <div class="carousel-cell">6</div>
    <div class="carousel-cell">7</div>
    <div class="carousel-cell">8</div>
    <div class="carousel-cell">9</div>
    <div class="carousel-cell">1</div>
    <div class="carousel-cell">2</div>
</div>


